@model BookCave.Models.InputModels.ShippingBillingInputModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var nameClaim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

<div class="container body-container">
    <div class="card container">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- First row -->
            <div class="row mb-3">
                <div class="col mt-3 ml-2">
                    <h1>@nameClaim&apos;s shipping and billing information: <button id="changeShippingBilling" class="btn btn-primary"><strong>Update Shipping/Billing</strong></button></h1>

                    @if(Model == null)
                    {
                        <h3>Your shipping and billing information is empty</h3>
                        <h4>Press &quot;Update Shipping/Billing&quot; to modify your information</h4>
                    }
                </div>
            </div>

            <a asp-controller="User" asp-action="AccountInformation" type="button" class="btn btn-default btn-lg btn-block mt-1 mb-1">Back To User Account Information</a>

            <!-- Second row -->

            <div class="row mt-5">
                <div class="col">
                
                    <!--Table-->
                    <table class="table table-striped table-bordered">

                        <!--Table head-->
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">Shipping Information</th>
                            </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody class="">
                            @if(@Model != null)
                            {
                                <tr>
                                    <th width="30%"><strong>First Name</strong></th>
                                    <td width="70%">@Model.ShippingFirstName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Last Name</strong></th>
                                    <td width="70%">@Model.ShippingLastName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Street Name</strong></th>
                                    <td width="70%">@Model.ShippingStreetName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>House Number</strong></th>
                                    <td width="70%">@Model.ShippingHouseNumber</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>City</strong></th>
                                    <td width="70%">@Model.ShippingCity</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Zip Code</strong></th>
                                    <td width="70%">@Model.ShippingZipCode</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Country</strong></th>
                                    <td width="70%">@Model.ShippingCountry</td>
                                </tr>
                            }
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->

                </div>

                <div class="col">

                        <!--Table-->
                    <table class="table table-striped table-bordered">

                        <!--Table head-->
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">Billing Information</th>
                            </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody class="">
                            @if(@Model != null)
                            {
                                <tr>
                                    <th width="30%"><strong>First Name</strong></th>
                                    <td width="70%">@Model.BillingFirstName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Last Name</strong></th>
                                    <td width="70%">@Model.BillingLastName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Street Name</strong></th>
                                    <td width="70%">@Model.BillingStreetName</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>House Number</strong></th>
                                    <td width="70%">@Model.BillingHouseNumber</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>City</strong></th>
                                    <td width="70%">@Model.BillingCity</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Zip Code</strong></th>
                                    <td width="70%">@Model.BillingZipCode</td>
                                </tr>

                                <tr>
                                    <th width="30%"><strong>Country</strong></th>
                                    <td width="70%">@Model.BillingCountry</td>
                                </tr>
                            }
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->

                </div>
            </div>
        }
    </div>

    <!-- MODAL Change shipping and billing -->
    <div class="modal fade" id="editShippingBilling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form asp-controller="User" asp-action="EditSippingBilling" method="POST">
                <div class="modal-content">
                    <!-- Modal row 1 -->
                    <div class="row">

                        <!-- Shipping Information -->
                        <div class="col mr-3 ml-3">
                            <h3 class="mb-0 mt-3">Shipping Information</h3>

                            <div class="form-check mb-0 mt-3 for-space">
                                <input type="checkbox" class="form-check-input" id="checkbox96847">
                                <label class="form-check-label" for="checkbox96847">Check if same as shipping address</label>
                            </div>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingFirstName"></span>
                            <label asp-for="ShippingFirstName">First Name</label>
                            <input asp-for="ShippingFirstName" type="text" id="ShippingFirstName" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingLastName"></span>
                            <label asp-for="ShippingLastName">Last Name</label>
                            <input asp-for="ShippingLastName" type="text" id="ShippingLastName" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingStreetName"></span>
                            <label asp-for="ShippingStreetName">Street</label>
                            <input asp-for="ShippingStreetName" type="text" id="ShippingStreetName" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingHouseNumber"></span>
                            <label asp-for="ShippingHouseNumber">House Number</label>
                            <input asp-for="ShippingHouseNumber" type="number" id="ShippingHouseNumber" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingCity"></span>
                            <label asp-for="ShippingCity">City</label>
                            <input asp-for="ShippingCity" type="text" id="ShippingCity" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingZipCode"></span>
                            <label asp-for="ShippingZipCode">Zip Code</label>
                            <input asp-for="ShippingZipCode" type="text" id="ShippingZipCode" class="form-control validate" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="ShippingCountry"></span>
                            <label asp-for="ShippingCountry">Country</label>
                            <input asp-for="ShippingCountry" type="text" id="ShippingCountry" class="form-control validate" required>

                        </div>
                        <!-- Shipping Information -->

                        <!-- Billing Information -->
                        <div class="col mr-3 ml-3">
                            <h3 class="mb-0 mt-3">Billing Information</h3>

                            <div class="form-check mb-0 mt-3">
                                <input type="checkbox" class="form-check-input check-for-bill" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">Check if same as shipping address</label>
                            </div>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingFirstName"></span>
                            <label asp-for="BillingFirstName">First Name</label>
                            <input asp-for="BillingFirstName" type="text" id="BillingFirstName" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingLastName"></span>
                            <label asp-for="BillingLastName">Last Name</label>
                            <input asp-for="BillingLastName" type="text" id="BillingLastName" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingStreetName"></span>
                            <label asp-for="BillingStreetName">Street</label>
                            <input asp-for="BillingStreetName" type="text" id="BillingStreetName" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingHouseNumber"></span>
                            <label asp-for="BillingHouseNumber">House Number</label>
                            <input asp-for="BillingHouseNumber" type="number" id="BillingHouseNumber" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingCity"></span>
                            <label asp-for="BillingCity">City</label>
                            <input asp-for="BillingCity" type="text" id="BillingCity" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingZipCode"></span>
                            <label asp-for="BillingZipCode">Zip Code</label>
                            <input asp-for="BillingZipCode" type="text" id="BillingZipCode" class="form-control validate billing-information" required>

                            <span class="mr-5 font-weight-light text-danger" asp-validation-for="BillingCountry"></span>
                            <label asp-for="BillingCountry">Country</label>
                            <input asp-for="BillingCountry" type="text" id="BillingCountry" class="form-control validate billing-information" required>
                        </div>
                        <!-- Billing Information -->
                    </div>
                    <!-- Modal Row 1 -->

                    <!-- Modal Footer -->
                    <div class="row d-flex flex-row-reverse">

                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="submitShipBill" class="btn btn-default mr-5">Submit Changes</button>
                        </div>

                        <div class="modal-footer d-flex justify-content-center">
                            <button id="BillShipClose" class="btn btn-default">Close</button>
                        </div>

                    </div>
                    <!-- Modal Footer -->

                </div>
            </form>
        </div>
    </div>
    <!-- MODAL Change shipping and billing -->

    <!-- Modal processing -->
    <div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title" id="exampleModalLabel">Processing...</h4>
                </div>
                <div class="modal-body text-center">

                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal processing -->

</div>