@model List<BookCave.Models.ViewModels.BookCartViewModel>
<div class="container pt-5">
    <section class="section my-5">
        <div class="table-responsive">
            <table class="table product-table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">
                            <strong>Title</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Type</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Quantity</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Amount</strong>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var book in Model)
                    {
                   <tr> 
                        <div class="imgRow">
                            <td><img class="img-fluid mt-5 ml-3" src="data:image/jpg;base64, @Convert.ToBase64String(book.CoverImage)"></td>
                        </div>
                        <td>@book.Title</td>
                        <td>@book.Type</td>
                        <td><strong><span class="price">@book.Price</span> $</strong></td>
                        <td class="md-form text-center text-sm-center">
                            <button class="btn btn-sm btn-primary btn-rounded waves-effect waves-light incrementQty">+</button>
                            <input type="text" class="text-center col-md-1 qty" value="@book.Quantity">
                            <button class="decremntQty btn btn-sm btn-primary btn-rounded waves-effect waves-light decrementQty">-</button>
                        </td>
                        <td><strong><span class="amount">@book.Price</span> $</strong></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger waves-effect waves-light">X</button>
                        </td>
                   </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <div class="form-group">
        <h4 class="mt-2">Total: <strong><span id="total"></span> $</strong></h4>
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" id="completePurchase">Complete purchase</button>
        <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light" id="update">Update Cart</button>
    </div>
</div>